
body
{
	font-family: Georgia, sans-serif;
	background: url(../src/main-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

.container h1
{
  font-size: 8em;
}

.container p
{
  font-size: 3em;
}

.jumbotron
{
  background-size: cover;
  margin: 0;
}

#tabs
{
  width:100%;
	display: block;
	align-content: center;
	margin: 0 auto;
}

.btn-customize
{
  padding: 30px 60px;
  font-size: 7em;
}

#copyright
{
  	font-size: 1.5em;
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}
